



@for (int i = 0; i < RadioButtonGroupModel.radioOptions.Count; i++)
{
    <input type="radio" id="@RadioButtonGroupModel.radioOptions[i]" 
           name="radio_list" 
           value="@RadioButtonGroupModel.radioOptions[i]" 
           @onchange="OnValueChanged" 
           checked="@EqualityComparer<TEnum>.Default.Equals(RadioButtonGroupModel.SelectedValue, RadioButtonGroupModel.radioOptions[i])" />

    <label for="@RadioButtonGroupModel.radioOptions[i]">@RadioButtonGroupModel.radioOptions[i]</label>
    <br />
}

@typeparam TEnum where TEnum : Enum
@code {
    [Parameter, Required]
    public RadioButtonGroupModel<TEnum> RadioButtonGroupModel { get; set; }

    private async Task OnValueChanged(ChangeEventArgs e)
    {
        RadioButtonGroupModel.SelectedValue = (TEnum)Enum.Parse(typeof(TEnum), e.Value.ToString());
    }
}