<label for="dropdown">@Controller.DropDownLabel</label>
<select id="dropdown" disabled="@Controller.IsDisabled">
    <option value="">@Controller.OptionLabel</option>
    @if(Controller.DropDownList != null)
    @foreach (var option in Controller.DropDownList)
    {
        <option key="@option.Id" value="@option.Id">@option.Name</option>
    }
</select>

@code 
{
    [Parameter]
    [Required]
    public DropDownFromListController Controller {get; set; }
}
