<label for="dropdown">@controller.DropDownLabel</label>
<select id="dropdown" disabled="@controller.IsDisabled" @bind="controller.SelectedItem">
    <option value="">@controller.OptionLabel</option>
    @foreach (var option in controller.DropDownList)
    {
        <option key="@option.Id" value="@option.Id">@option.Name</option>
    }
</select>

@code 
{
    [Parameter]
    [Required]
    public DropDownFromListController controller {get; set; }
}
