<div class="row">
    <div class="col-6">
        <input type="checkbox" title="@Controller.VerificationCheckBoxTitle" disabled="@Controller.IsDisabled" @bind="Controller.HasVerified"/>
    </div>
    <div class="col-6">
        <InputFile OnChange="Controller.HandleFileSelected" />
    </div>
    <div>
        <button class="btn btn-primary" @onclick="@Controller.SaveFileToDestinationAsync" disabled="@(Controller.IsDisabled)">
            @Controller.SubmitButtonTitle
        </button>
    </div>
</div>

@code {
    [Parameter]
    [Required]
    public VerifyAndAttachFileController Controller { get; set; }
}
