<div class="row" hidden="@Controller.IsDisabled">
    <div class="col-6">
        <label for="confirmbox">@Controller.VerificationCheckBoxTitle</label>
        <input type="checkbox" id="confirmbox" title="@Controller.VerificationCheckBoxTitle" @bind="Controller.HasVerified">
    </div>
    <div class="col-2">
        <InputFile OnChange="Controller.HandleFileSelected"/>
    </div>
    <div class="col-4">
        <button class="btn btn-primary" @onclick="@Controller.SaveFileToDestinationAsync">
            @Controller.SubmitButtonTitle
        </button>
    </div>
</div>

@code {
    [Parameter] [Required] public VerifyAndAttachFileController Controller { get; set; }
}