@if (!Controller.IsDisabled)
{
    @foreach (var option in Controller.RadioOptions)
    {
        <input type="radio"
               id="@option.Key"
               @key="option"
               name="radio_list"
               value="@option.Key"
               @onchange="OnValueChanged"
               checked="@(Controller.SelectedValue.Equals(option.Key))"
               aria-label="@option.Value"
               hidden="@Controller.IsDisabled"/>
        <label for="@option.Key">@option.Value</label>
        <br/>
    }
}
@typeparam TEnum where TEnum : Enum

@code {
    [Parameter] [Required] public RadioButtonGroupController<TEnum> Controller { get; set; }

    private void OnValueChanged(ChangeEventArgs e)
    {
        var selectedValue = (TEnum)Enum.Parse(typeof(TEnum), e.Value.ToString());
        Controller.SelectedValue = selectedValue;
    }

}